.chat #createChat {
    display: none;
}

body {
    text-align: center;
    margin: 0;
}

#dialog {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
    max-width: 480px;
    border-left: 2px solid #C0F7B7;
    border-right: 2px solid #C0F7B7;
    height: 100vh;
}

#dialog .messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#dialog .messages > div {
    padding: 4px 6px;
}

#dialog .editor {
    width: 100%;
    min-height: 60px;
    display: flex;
    padding: 0;
    border-top: 2px solid #C0F7B7;
}

#dialog .editor textarea {
    flex: 1;
    resize: none;
}

#dialog .editor button {
    background-color: #C0F7B7;
}

#dialog .editor > * {
    border: none;
}

#dialog .me {
    text-align: right;
}

#dialog .other {
    background-color: #C0F7B7;
}
